@page "/Column"


<Card>
    <ChildContent>
        <div class="card">
            <div class="chart">
                <BcChart Height="400" Width="600" Data="DemoData.Githubs" CategoryField="x=>x.Year.ToString()">
                    <BcTitle Title="基本使用"></BcTitle>
                    <BcColumnSeries ValueFunc="x=>x.Sum(y=>y.View)" GroupName="View"></BcColumnSeries>
                    <BcColumnSeries ValueFunc="x=>x.Sum(y=>y.Start)" GroupName="Start"></BcColumnSeries>
                    <BcColumnSeries ValueFunc="x=>x.Sum(y=>y.Fork)" GroupName="Fork"></BcColumnSeries>
                </BcChart>
            </div>
            <div class="prop">

            </div>
        </div>
    </ChildContent>
</Card>


<Card>
    <ChildContent>
        <div class="card">
            <div class="chart">
                <BcChart Height="400" Width="600" Data="DemoData.CityValues" CategoryField="x=>x.Year.ToString()">
                    <BcTitle Title="字段分组" TData="CityValue"></BcTitle>
                    <BcColumnSeries TData="CityValue" ValueFunc="x=>x.Sum(y=>y.Value)" GroupField="x=>x.City"></BcColumnSeries>
                </BcChart>
            </div>
            <div class="prop">

            </div>
        </div>
    </ChildContent>
</Card>

<ApiTable Component="typeof(BcColumnSeries<object>)"></ApiTable>