@page "/Scatter"

<Card>
    <ChildContent>
        <div class="card">
            <div class="chart">
                <BcChart Height="400" Width="600" Data="DemoData.Githubs" CategoryField="x=>x.Year.ToString()">
                    <BcTitle Title="基本使用"></BcTitle>
                    <BcScatterSeries ValueFunc="x=>x.Sum(y=>y.View)" GroupName="View"></BcScatterSeries>
                    <BcScatterSeries ValueFunc="x=>x.Sum(y=>y.Start)" GroupName="Start"></BcScatterSeries>
                    <BcScatterSeries ValueFunc="x=>x.Sum(y=>y.Fork)" GroupName="Fork"></BcScatterSeries>
                </BcChart>
            </div>
            <div class="prop">

            </div>
        </div>
    </ChildContent>
</Card>

<Card>
    <ChildContent>
        <div class="card">
            <div class="chart">
                <BcChart Height="400" Width="600" Data="DemoData.CityValues" CategoryField="x=>x.Year.ToString()">
                    <BcTitle Title="字段分组" TData="CityValue"></BcTitle>
                    <BcScatterSeries TData="CityValue" ValueFunc="x=>x.Sum(y=>y.Value)" GroupField="x=>x.City"></BcScatterSeries>
                </BcChart>
            </div>
            <div class="prop">

            </div>
        </div>
    </ChildContent>
</Card>

<ApiTable Component="typeof(BcScatterSeries<object>)"></ApiTable>