<CascadingValue Value="this">
    <svg width="@Width" height="@Height"
         xmlns="http://www.w3.org/2000/svg">

        <Title @ref="@TitleRef"></Title>
        <Legend @ref="@LegendRef"></Legend>

    </svg>

    @ChildContent
</CascadingValue>
