.octicon {
    vertical-align: text-bottom;
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
    --color-footer-invertocat-octicon: #d1d5da;
    --color-footer-invertocat-octicon-hover: #6a737d;
}
